# Bot
BOT_TOKEN=8965281883:AAHu7wyabxHWZ8bCB-pavqgN3x4-9OpThlI
ADMIN_ID=7104915477

# Database
DATABASE_URL=postgresql://postgres:OsLDKVVCCKrDPAQxoIbrWHTWusxBvlsO@postgres.railway.internal:5432/railway

# Webhook
WEBHOOK_HOST=https://constructorbot-production.up.railway.app
WEBHOOK_PORT=8000

# Settings
TRIAL_DAYS=3
DAILY_PRICE=3000
REFERRAL_BONUS=1000
PAYMENT_CARD=9860176620006393
REFERRAL_ENABLED=true
MAINTENANCE_MODE=false
