# Konstruktor bot token (@BotFather dan olinadi)
BOT_TOKEN=8965281883:AAHu7wyabxHWZ8bCB-pavqgN3x4-9OpThlI

# Konstruktor bot admin ID (sizning Telegram ID ingiz)
ADMIN_ID=7104915477

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/constructor_bot

# Webhook
WEBHOOK_HOST=https://yourdomain.com
WEBHOOK_PORT=8000

# Sozlamalar
TRIAL_DAYS=7
DAILY_PRICE=3000
REFERRAL_BONUS=1000
PAYMENT_CARD=your_card_number_here
